<p>user-info works!</p>
<ul>
    <li>
        <button nz-button nzType="primary" (click)="navigateToHome()" class="bg-black hover:bg-violet-600 rounded-full mt-4">Go to home</button>
    </li>
    <li>
        <button nz-button nzType="primary" (click)="navigateToLogin()" class="bg-black hover:bg-violet-600 rounded-full mt-4">Go to login</button>
    </li>
    <li>
        <button nz-button nzType="primary" (click)="navigateToSignup()" class="bg-black hover:bg-violet-600 rounded-full mt-4">Go to signup</button>
    </li>
    <li>
        <button nz-button nzType="primary" (click)="navigateToUserInfo()" class="bg-black hover:bg-violet-600 rounded-full mt-4">Go to user info</button>
    </li>
    <li>
        <button nz-button nzType="primary" (click)="navigateToUserOrder()" class="bg-black hover:bg-violet-600 rounded-full mt-4">Go to user order</button>
    </li>
    <li>
        <button nz-button nzType="primary" (click)="navigateToHotelDetail()" class="bg-black hover:bg-violet-600 rounded-full mt-4">Go to hotel detail</button>
    </li>
</ul>
